nav {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(33, 79, 33);
    width: 100%;
    font-style:inherit;
    color: rgb(219, 217, 217);
}


body {
    margin: 0;
    padding: 0;
}

h1 {

    justify-content: center;

}